@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
   //
}

body {
   background-color: #fff;
   line-height: 1.5;
   font-family: 'Roboto', Arial, Helvetica, sans-serif;
   font-size: 20px;
}

#logo {
   width: 135px;
   height: auto;
}

/****************************************************
               MEDIA QUERY FOR NAV & NAV BUTTON
****************************************************/

@media screen and ( min-width: 569px) {
   #slideBtn {
      display: none;
   }
}

#slideNav {
      padding: 50px 0;
      text-align: center;
      z-index: 9999;
      width: 100vw;
      height: 100vh;

      position: fixed;
      top: 0;
      left: 0;
      background-color: #ffe600;

      transform: translate3d(-100vw, 0, 0);
      transition: transform .3s ease-in-out;

      overflow: hidden;

      h2 a {
         color: #333;
         text-decoration: none;
         text-transform: capitalize;
         &:hover {
            text-decoration: underline;
         }
      }
}

#slideNav.show {
   transform: translate3d(0vw, 0, 0);
}

/***********************************************
                     HEADER
***********************************************/

.flex-nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: lightgreen;
   #logo {
      margin: 0;
   }
   .flex-menu {
      display: none;
      width: 80%;
      justify-content: space-around;
      list-style-type: none;
      margin: 0;
      li a {
         display: block;
         padding: 1em;
         color: #333;
         transition: .2s ease-in-out;
         text-decoration: none;
         text-transform: capitalize;
         &:hover {
            background: rgba(255,255,255,.3);
            text-decoration: none;
         }
      }
   }
}



@media screen and ( min-width: 569px) {
   .flex-nav {
      flex-direction: column;
      #logo {
         margin: 10px;
      }
      .flex-menu {
         display: flex;
         margin: 10px;
      }
   }
}

@media screen and ( min-width: 880px) {
   .flex-nav {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      #logo {
         margin: 10px;
      }
      .flex-menu {
         display: flex;
         width: 80%;
         justify-content: space-around;
      }
   }
}




/***********************************************
                     Landing and Sites
***********************************************/

#landing-sites {
   .title {
      margin: 30px auto;
      width: 300px;
      text-align: center;
      border: 2px solid black;
   }
   figure {
      margin: 20px 0;
      max-width: 100%;
      height: auto;
      position: relative;
      transition: .1s all;
      &:hover {
            box-shadow:#222;
      }
      img {
         display: block;
         width: 100%;
         height: auto;
      }
      .figure-overlay {
         position: absolute;
         top: 0;
         left: 0;
         bottom: 0;
         right: 0;
         height: 100%;
         width: auto;
         opacity: 0;
         transition: .2s ease-in-out;
         background-color: rgba(255,255,255,.4);
            &:hover {
               opacity: 1;
            }
      }
      .overlay-content {
         color: #333;
         font-size: 20px;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         .fa {
               color: lightgreen;
         }
      }
   }
   .container {
      margin: 50px auto;
   }
}





/***********************************************
                     FOOTER
***********************************************/

footer {
      background: lightgreen;
      width: 100%;
      display: flex;
      #social {
            margin: 25px;
            i.fa {
                  color: #000;
                  padding: .5em;
                  transition: .2s all;
                  &:hover {
                        transform: scale(1.5);
                        color: #eee;
                  }
            }
      }
}





/***********************************************
                     HEADER
***********************************************/
