@import url("https://fonts.googleapis.com/css?family=Roboto");
.container {
  width: 100%; }

body {
  background: #eee;
  line-height: 1.5;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: red; }

.line-through {
  text-decoration: line-through; }

p {
  padding: 25px; }

#logo {
  width: 135px;
  height: auto; }

/****************************************************
               MEDIA QUERY FOR NAV & NAV BUTTON
****************************************************/
@media screen and (min-width: 569px) {
  #slideBtn {
    display: none; } }
#slideNav {
  padding: 100px 0;
  text-align: center;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  line-height: 5;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #FFF;
  transform: translate3d(-100vw, 0, 0);
  transition: transform .3s ease-in-out;
  overflow: hidden; }
  #slideNav h2 a {
    color: #333;
    text-decoration: none;
    text-transform: capitalize; }
    #slideNav h2 a:hover {
      color: orangered; }

#slideNav.show {
  transform: translate3d(0vw, 0, 0); }

/***********************************************
                     HEADER
***********************************************/
.flex-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF; }
  .flex-nav #slideBtn {
    margin-right: 25px; }
  .flex-nav #logo {
    margin: 0; }
  .flex-nav .flex-menu {
    display: none;
    width: 80%;
    justify-content: space-around;
    list-style-type: none;
    margin: 0; }
    .flex-nav .flex-menu li a {
      display: block;
      padding: 1em;
      color: #000;
      transition: .1s ease-in-out;
      text-decoration: none;
      text-transform: capitalize; }
      .flex-nav .flex-menu li a:hover {
        text-decoration: none;
        transform: rotateY(30deg);
        color: orangered; }

@media screen and (min-width: 569px) {
  .flex-nav {
    flex-direction: column; }
    .flex-nav #logo {
      margin: 10px; }
    .flex-nav .flex-menu {
      display: flex;
      margin: 10px; } }
@media screen and (min-width: 880px) {
  .flex-nav {
    display: flex;
    justify-content: space-around;
    flex-direction: row; }
    .flex-nav #logo {
      margin: 10px; }
    .flex-nav .flex-menu {
      display: flex;
      width: 80%;
      justify-content: space-around; } }
/***********************************************
                     Landing and Sites
***********************************************/
#landing-sites .title {
  margin: 30px auto;
  width: 300px;
  text-align: center;
  border: 2px solid black; }
#landing-sites figure {
  margin: 20px 0;
  max-width: 100%;
  height: auto;
  position: relative;
  transition: .1s all; }
  #landing-sites figure img {
    display: block;
    width: 100%;
    height: auto; }
  #landing-sites figure .figure-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: auto;
    opacity: 0;
    transition: .2s ease-in-out;
    background-color: rgba(255, 255, 255, 0.4); }
    #landing-sites figure .figure-overlay:hover {
      opacity: 1; }
  #landing-sites figure .overlay-content {
    color: #333;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    #landing-sites figure .overlay-content .fa {
      color: lightgreen; }
#landing-sites .container {
  margin: 50px auto; }

/***********************************************
                     CONTACT
***********************************************/
#contact .top {
  position: relative;
  width: 100%;
  padding: 25px 0;
  min-height: 300px;
  height: 100%;
  background: #42a5de;
  text-align: center;
  color: #fff; }
  #contact .top .contactBtn {
    border: 2px solid #fff;
    padding: .5em;
    color: #fff;
    transition: .2s all; }
    #contact .top .contactBtn:hover {
      text-decoration: none;
      background: #fff;
      color: #000; }
#contact .bottom {
  position: relative;
  width: 100%;
  padding: 25px 0;
  min-height: 250px;
  height: 100%;
  background: #252525;
  text-align: center;
  color: orangered; }
  #contact .bottom .fa {
    transition: .5s all;
    color: dodgerblue;
    font-size: 25px;
    padding: .5em; }
    #contact .bottom .fa:hover {
      color: orangered; }

/***********************************************
                     SKILLS
***********************************************/
#skills ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  #skills ul li {
    flex: 1;
    font-size: 50px;
    padding: 10px;
    color: #333; }
    #skills ul li:hover {
      color: orangered; }

/***********************************************
                     BANNER
***********************************************/
#banner {
  min-height: 550px;
  background: url("https://images.unsplash.com/photo-1495511167051-13bb07bde85b?auto=format&fit=crop&w=1650&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
  background-position: center;
  background-size: cover;
  background-repeat: none;
  background-attachment: fixed;
  position: relative; }
  #banner .banner-title {
    position: absolute;
    color: #eee;
    text-shadow: 0px 0px 2px #333;
    line-height: 300px;
    top: 50px; }

/*# sourceMappingURL=main.css.map */
